In [1]:
#importing the libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

In [4]:
#reading the data 
#TEST.CSV

test = pd.read_csv("C:/Users/Dell/Downloads/Cross Selling/Test.csv")

In [4]:
test.head(5)

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,indext,conyuemp,canal_entrada,indfall,tipodom,cod_prov,nomprov,ind_actividad_cliente,renta,segmento
0,2016-06-28,15889,F,ES,V,56,1995-01-16,0,256,1,...,N,N,KAT,N,1,28.0,MADRID,1,326124.90,01 - TOP
1,2016-06-28,1170544,N,ES,H,36,2013-08-28,0,34,1,...,N,NaN,KAT,N,1,3.0,ALICANTE,0,NA,02 - PARTICULARES
2,2016-06-28,1170545,N,ES,V,22,2013-08-28,0,34,1,...,N,NaN,KHE,N,1,15.0,"CORUÑA, A",1,NA,03 - UNIVERSITARIO
3,2016-06-28,1170547,N,ES,H,22,2013-08-28,0,34,1,...,N,NaN,KHE,N,1,8.0,BARCELONA,0,148402.98,03 - UNIVERSITARIO
4,2016-06-28,1170548,N,ES,H,22,2013-08-28,0,34,1,...,N,NaN,KHE,N,1,7.0,"BALEARS, ILLES",0,106885.80,03 - UNIVERSITARIO

In [5]:
test.describe()

,ncodpers,age,ind_nuevo,antiguedad,indrel,indrel_1mes,tipodom,cod_prov,ind_actividad_cliente
count,9.296150e+05,929615.000000,929615.000000,929615.000000,929615.000000,929592.000000,929615.0,925619.000000,929615.000000
mean,8.794566e+05,40.249821,0.027849,77.728413,1.177422,1.000058,1.0,26.546150,0.425272
std,4.481569e+05,17.185119,0.164541,1797.824518,4.166039,0.010779,0.0,12.836614,0.494384
min,1.588900e+04,2.000000,0.000000,-999999.000000,1.000000,1.000000,1.0,1.000000,0.000000
25%,4.833615e+05,25.000000,0.000000,23.000000,1.000000,1.000000,1.0,15.000000,0.000000
50%,9.664250e+05,39.000000,0.000000,55.000000,1.000000,1.000000,1.0,28.000000,0.000000
75%,1.264316e+06,51.000000,0.000000,136.000000,1.000000,1.000000,1.0,35.000000,1.000000
max,1.553689e+06,164.000000,1.000000,257.000000,99.000000,3.000000,1.0,52.000000,1.000000

In [6]:
test.shape

(929615, 24)

In [10]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 929615 entries, 0 to 929614
Data columns (total 24 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   fecha_dato             929615 non-null  object
 1   ncodpers               929615 non-null  int64
 2   ind_empleado           929615 non-null  object
 3   pais_residencia        929615 non-null  object
 4   sexo                   929610 non-null  object
 5   age                    929615 non-null  int64
 6   fecha_alta             929615 non-null  object
 7   ind_nuevo              929615 non-null  int64
 8   antiguedad             929615 non-null  int64
 9   indrel                 929615 non-null  int64
 10  ult_fec_cli_1t         1683 non-null    object
 11  indrel_1mes            929592 non-null  float64
 12  tiprel_1mes            929592 non-null  object
 13  indresi                929615 non-null  object
 14  indext                 929615 non-null  object
 15  conyuemp               104 non-null     object
 16  canal_entrada          927534 non-null  object
 17  indfall                929615 non-null  object
 18  tipodom                929615 non-null  int64
 19  cod_prov               925619 non-null  float64
 20  nomprov                925619 non-null  object
 21  ind_actividad_cliente  929615 non-null  int64
 22  renta                  929615 non-null  object
 23  segmento               927367 non-null  object
dtypes: float64(2), int64(7), object(15)
memory usage: 170.2+ MB

#### Train.csv

In [2]:
#loading and understanding the train.csv data:

train_data = pd.read_csv( "C:/Users/Dell/Downloads/Cross Selling/Train.csv" )

C:\Users\Dell\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (5,8,11,15) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
train_data.head(5)

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
4,2015-01-28,1050614,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0

In [4]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13647309 entries, 0 to 13647308
Data columns (total 48 columns):
 #   Column                 Dtype
---  ------                 -----
 0   fecha_dato             object
 1   ncodpers               int64
 2   ind_empleado           object
 3   pais_residencia        object
 4   sexo                   object
 5   age                    object
 6   fecha_alta             object
 7   ind_nuevo              float64
 8   antiguedad             object
 9   indrel                 float64
 10  ult_fec_cli_1t         object
 11  indrel_1mes            object
 12  tiprel_1mes            object
 13  indresi                object
 14  indext                 object
 15  conyuemp               object
 16  canal_entrada          object
 17  indfall                object
 18  tipodom                float64
 19  cod_prov               float64
 20  nomprov                object
 21  ind_actividad_cliente  float64
 22  renta                  float64
 23  segmento               object
 24  ind_ahor_fin_ult1      int64
 25  ind_aval_fin_ult1      int64
 26  ind_cco_fin_ult1       int64
 27  ind_cder_fin_ult1      int64
 28  ind_cno_fin_ult1       int64
 29  ind_ctju_fin_ult1      int64
 30  ind_ctma_fin_ult1      int64
 31  ind_ctop_fin_ult1      int64
 32  ind_ctpp_fin_ult1      int64
 33  ind_deco_fin_ult1      int64
 34  ind_deme_fin_ult1      int64
 35  ind_dela_fin_ult1      int64
 36  ind_ecue_fin_ult1      int64
 37  ind_fond_fin_ult1      int64
 38  ind_hip_fin_ult1       int64
 39  ind_plan_fin_ult1      int64
 40  ind_pres_fin_ult1      int64
 41  ind_reca_fin_ult1      int64
 42  ind_tjcr_fin_ult1      int64
 43  ind_valo_fin_ult1      int64
 44  ind_viv_fin_ult1       int64
 45  ind_nomina_ult1        float64
 46  ind_nom_pens_ult1      float64
 47  ind_recibo_ult1        int64
dtypes: float64(8), int64(23), object(17)
memory usage: 4.9+ GB

In [5]:
train_data.shape

(13647309, 48)

In [3]:
#translating the columns from spanish to english.

#renaming the columns of train.csv data

train_data.rename(columns={
    'fecha_dato': 'Date',
    'ncodpers': 'Customer_code',
    'ind_empleado': 'Employee_index',
    'pais_residencia': 'Country',
    'sexo': 'Gender',
    'age': 'Age',
    'fecha_alta': 'Customer_join_date',
    'ind_nuevo': 'Customer_index',
    'antiguedad': 'Customer_seniority',
    'indrel': 'primary_customer',
    'ult_fec_cli_1t': 'Customer_leave_date',
    'indrel_1mes': 'Customer_type',
    'tiprel_1mes': 'Customer_relation',
    'indresi': 'Residence_index',
    'indext': 'Foreigner_index',
    'conyuemp': 'Spouse_index',
    'canal_entrada': 'Channel',
    'indfall': 'Deceased_index',
    'tipodom': 'Primary_Address',
    'cod_prov': 'Customer_address',
    'nomprov': 'province_name',
    'ind_actividad_cliente': 'Activity_index',
    'renta': 'Gross_income',
    'segmento': 'Segmentation',
    'ind_ahor_fin_ult1': 'Saving_account',
    'ind_aval_fin_ult1': 'Guarantees',
    'ind_cco_fin_ult1': 'Current_accounts',
    'ind_cder_fin_ult1': 'Derivative_account',
    'ind_cno_fin_ult1': 'Payroll_account',
    'ind_ctju_fin_ult1': 'Junior_account',
    'ind_ctma_fin_ult1': 'More_private_account',
    'ind_ctop_fin_ult1': 'Private_account',
    'ind_ctpp_fin_ult1': 'Private_plus_account',
    'ind_deco_fin_ult1': 'Short_term_deposits',
    'ind_deme_fin_ult1': 'Medium_term_deposits',
    'ind_dela_fin_ult1': 'Long_term_deposits',
    'ind_ecue_fin_ult1': 'E_Account',
    'ind_fond_fin_ult1': 'Funds',
    'ind_hip_fin_ult1': 'Mortgage',
    'ind_plan_fin_ult1': 'Pensions',
    'ind_pres_fin_ult1': 'Loans',
    'ind_reca_fin_ult1': 'Taxes',
    'ind_tjcr_fin_ult1': 'Credit_card',
    'ind_valo_fin_ult1': 'Securities',
    'ind_viv_fin_ult1': 'Home_account',
    'ind_nomina_ult1': 'Payroll',
    'ind_nom_pens_ult1': 'Pensions_2',
    'ind_recibo_ult1': 'Direct_debit'
}, inplace=True)

In [4]:
train_data.head(5)

,Date,Customer_code,Employee_index,Country,Gender,Age,Customer_join_date,Customer_index,Customer_seniority,primary_customer,...,Mortgage,Pensions,Loans,Taxes,Credit_card,Securities,Home_account,Payroll,Pensions_2,Direct_debit
0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
4,2015-01-28,1050614,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0

In [5]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13647309 entries, 0 to 13647308
Data columns (total 48 columns):
 #   Column                Dtype
---  ------                -----
 0   Date                  object
 1   Customer_code         int64
 2   Employee_index        object
 3   Country               object
 4   Gender                object
 5   Age                   object
 6   Customer_join_date    object
 7   Customer_index        float64
 8   Customer_seniority    object
 9   primary_customer      float64
 10  Customer_leave_date   object
 11  Customer_type         object
 12  Customer_relation     object
 13  Residence_index       object
 14  Foreigner_index       object
 15  Spouse_index          object
 16  Channel               object
 17  Deceased_index        object
 18  Primary_Address       float64
 19  Customer_address      float64
 20  province_name         object
 21  Activity_index        float64
 22  Gross_income          float64
 23  Segmentation          object
 24  Saving_account        int64
 25  Guarantees            int64
 26  Current_accounts      int64
 27  Derivative_account    int64
 28  Payroll_account       int64
 29  Junior_account        int64
 30  More_private_account  int64
 31  Private_account       int64
 32  Private_plus_account  int64
 33  Short_term_deposits   int64
 34  Medium_term_deposits  int64
 35  Long_term_deposits    int64
 36  E_Account             int64
 37  Funds                 int64
 38  Mortgage              int64
 39  Pensions              int64
 40  Loans                 int64
 41  Taxes                 int64
 42  Credit_card           int64
 43  Securities            int64
 44  Home_account          int64
 45  Payroll               float64
 46  Pensions_2            float64
 47  Direct_debit          int64
dtypes: float64(8), int64(23), object(17)
memory usage: 4.9+ GB

In [9]:
print(train_data.duplicated().sum())

0

In [6]:
#changing the datatypes

#since the date is given in object, converting them into proper dates datatype

train_data['Date'] = pd.to_datetime(train_data['Date'])
train_data['Customer_join_date'] = pd.to_datetime(train_data['Customer_join_date'])
train_data['Customer_leave_date']  = pd.to_datetime(train_data['Customer_leave_date'])

In [7]:
#changing the datatypes into category

train_data['Employee_index'] = pd.Categorical(train_data['Employee_index'])
train_data['Country'] = pd.Categorical(train_data['Country'])
train_data['Gender'] = pd.Categorical(train_data['Gender'])
train_data['Customer_relation'] = pd.Categorical(train_data['Customer_relation'])
train_data['Residence_index'] = pd.Categorical(train_data['Residence_index'])
train_data['Foreigner_index'] = pd.Categorical(train_data['Foreigner_index'])

In [8]:
#age datatype

train_data['Age'] = pd.to_numeric(train_data['Age'], errors='coerce').astype('Int64')

In [9]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13647309 entries, 0 to 13647308
Data columns (total 48 columns):
 #   Column                Dtype
---  ------                -----
 0   Date                  datetime64[ns]
 1   Customer_code         int64
 2   Employee_index        category
 3   Country               category
 4   Gender                category
 5   Age                   Int64
 6   Customer_join_date    datetime64[ns]
 7   Customer_index        float64
 8   Customer_seniority    object
 9   primary_customer      float64
 10  Customer_leave_date   datetime64[ns]
 11  Customer_type         object
 12  Customer_relation     category
 13  Residence_index       category
 14  Foreigner_index       category
 15  Spouse_index          object
 16  Channel               object
 17  Deceased_index        object
 18  Primary_Address       float64
 19  Customer_address      float64
 20  province_name         object
 21  Activity_index        float64
 22  Gross_income          float64
 23  Segmentation          object
 24  Saving_account        int64
 25  Guarantees            int64
 26  Current_accounts      int64
 27  Derivative_account    int64
 28  Payroll_account       int64
 29  Junior_account        int64
 30  More_private_account  int64
 31  Private_account       int64
 32  Private_plus_account  int64
 33  Short_term_deposits   int64
 34  Medium_term_deposits  int64
 35  Long_term_deposits    int64
 36  E_Account             int64
 37  Funds                 int64
 38  Mortgage              int64
 39  Pensions              int64
 40  Loans                 int64
 41  Taxes                 int64
 42  Credit_card           int64
 43  Securities            int64
 44  Home_account          int64
 45  Payroll               float64
 46  Pensions_2            float64
 47  Direct_debit          int64
dtypes: Int64(1), category(6), datetime64[ns](3), float64(8), int64(23), object(7)
memory usage: 4.4+ GB

In [15]:
train_data.columns

Index(['Date', 'Customer_code', 'Employee_index', 'Country', 'Gender', 'Age',
       'Customer_join_date', 'Customer_index', 'Customer_seniority',
       'primary_customer', 'Customer_leave_date', 'Customer_type',
       'Customer_relation', 'Residence_index', 'Foreigner_index',
       'Spouse_index', 'Channel', 'Deceased_index', 'Primary_Address',
       'Customer_address', 'province_name', 'Activity_index', 'Gross_income',
       'Segmentation', 'Saving_account', 'Guarantees', 'Current_accounts',
       'Derivative_account', 'Payroll_account', 'Junior_account',
       'More_private_account', 'Private_account', 'Private_plus_account',
       'Short_term_deposits', 'Medium_term_deposits', 'Long_term_deposits',
       'E_Account', 'Funds', 'Mortgage', 'Pensions', 'Loans', 'Taxes',
       'Credit_card', 'Securities', 'Home_account', 'Payroll', 'Pensions_2',
       'Direct_debit'],
      dtype='object')

In [10]:
#checking for null values.

train_data.isnull().sum()

Date                           0
Customer_code                  0
Employee_index             27734
Country                    27734
Gender                     27804
Age                        27734
Customer_join_date         27734
Customer_index             27734
Customer_seniority             0
primary_customer           27734
Customer_leave_date     13622516
Customer_type             149781
Customer_relation         149781
Residence_index            27734
Foreigner_index            27734
Spouse_index            13645501
Channel                   186126
Deceased_index             27734
Primary_Address            27735
Customer_address           93591
province_name              93591
Activity_index             27734
Gross_income             2794375
Segmentation              189368
Saving_account                 0
Guarantees                     0
Current_accounts               0
Derivative_account             0
Payroll_account                0
Junior_account                 0
More_private_account           0
Private_account                0
Private_plus_account           0
Short_term_deposits            0
Medium_term_deposits           0
Long_term_deposits             0
E_Account                      0
Funds                          0
Mortgage                       0
Pensions                       0
Loans                          0
Taxes                          0
Credit_card                    0
Securities                     0
Home_account                   0
Payroll                    16063
Pensions_2                 16063
Direct_debit                   0
dtype: int64

### Treating the Null values:

In [11]:
#Checking for null values in Customer_join_date column:

Customer_join_date = train_data['Customer_join_date'].value_counts(dropna=False).sort_index()
Customer_join_date.name = 'Customer_join_date'
print(Customer_join_date)

1995-01-16     1226
1995-01-17       17
1995-01-23       28
1995-01-31       28
1995-02-02       34
              ...
2016-05-28       54
2016-05-29       70
2016-05-30      203
2016-05-31      157
NaT           27734
Name: Customer_join_date, Length: 6757, dtype: int64

In [12]:
#treating the missing values in Customer_join_date column using MEDIAN Method:
#since the date column is very important to maintain the overall over distribution of data.


date = train_data['Customer_join_date'].median()
train_data['Customer_join_date'].fillna(date, inplace=True)

In [13]:
print(train_data['Customer_join_date'].value_counts(dropna=False).sort_index())

1995-01-16    1226
1995-01-17      17
1995-01-23      28
1995-01-31      28
1995-02-02      34
              ...
2016-05-27     122
2016-05-28      54
2016-05-29      70
2016-05-30     203
2016-05-31     157
Name: Customer_join_date, Length: 6756, dtype: int64

In [14]:
#Checking for null values in Customer_leave_date column:

Customer_leave_date = train_data['Customer_leave_date'].value_counts(dropna=False).sort_index()
Customer_leave_date.name = 'Customer_leave_date'
print(Customer_leave_date)

2015-07-01         401
2015-07-02         166
2015-07-03         262
2015-07-06         405
2015-07-07         340
                ...
2016-05-25          75
2016-05-26         128
2016-05-27         109
2016-05-30          98
NaT           13622516
Name: Customer_leave_date, Length: 224, dtype: int64

In [15]:
#Treating the null values in Customer_leave_date column using MEDIAN Method:
#Since many missing values are present in the column its important to impute the values. 

leave_date = train_data['Customer_leave_date'].median()
leave_date

Timestamp('2015-11-18 00:00:00')

In [16]:
#filling the Customer_leave_date with median value:

train_data['Customer_leave_date'].fillna(leave_date, inplace=True)

In [17]:
print(train_data['Customer_leave_date'].value_counts(dropna=False).sort_index())

2015-07-01    401
2015-07-02    166
2015-07-03    262
2015-07-06    405
2015-07-07    340
             ...
2016-05-24    124
2016-05-25     75
2016-05-26    128
2016-05-27    109
2016-05-30     98
Name: Customer_leave_date, Length: 223, dtype: int64

In [18]:
# check for null counts in Employee_index column:

Employee_index = train_data['Employee_index'].value_counts(dropna=False).sort_index()
Employee_index.name = 'Employee_index'
print(Employee_index)

A          2492
B          3566
F          2523
N      13610977
S            17
NaN       27734
Name: Employee_index, dtype: int64

In [19]:
#renaming the column values in Employee_index:

train_data['Employee_index'] = train_data['Employee_index'].replace({ 'N':'Not An Employee', 'A': 'Active Employee', 
                                   'B': 'Ex Employee', 'F': 'Employee Relative', 'S': 'Unknown' })

In [20]:
#Treating the null values in Employee_index by dropping them:
#since Employee_index is important information from customers,they can't predicted.

train_data.dropna(subset=['Employee_index'], inplace=True)

In [21]:
Employee_index = train_data['Employee_index'].value_counts(dropna=False).sort_index()
Employee_index.name = 'Employee_index'
print(Employee_index)

Active Employee          2492
Employee Relative        2523
Ex Employee              3566
Not An Employee      13610977
Unknown                    17
Name: Employee_index, dtype: int64

In [22]:
#checking for count null values in Country column:

Country = train_data['Country'].value_counts(dropna=False).sort_index()
Country.name = 'Country'
print(Country)

AD     111
AE     221
AL      17
AO      68
AR    4835
      ...
UY     510
VE    2331
VN      34
ZA     119
ZW      11
Name: Country, Length: 118, dtype: int64

In [23]:
#Treating with null values in Country by drop function:
#country is the data criucal hence cant be predicted.

train_data.dropna(subset=['Country'], inplace=True)

In [24]:
Country = train_data['Country'].value_counts(dropna=False).sort_index()
Country.name = 'Country'
print(Country)

AD     111
AE     221
AL      17
AO      68
AR    4835
      ...
UY     510
VE    2331
VN      34
ZA     119
ZW      11
Name: Country, Length: 118, dtype: int64

In [25]:
#checking for null values in Gender column:

gender = train_data['Gender'].value_counts(dropna=False).sort_index()
gender.name = 'Gender'
print(gender)

H      6195253
V      7424252
NaN         70
Name: Gender, dtype: int64

In [26]:
#Replacing the Gender as Male and Female:

train_data['Gender'] = train_data['Gender'].replace({ 'H' : 'Male', 'V' : 'Female' })

In [27]:
#dealing with missing values in Gender using drop:

train_data.dropna(subset=['Gender'], inplace=True)

In [29]:
gender = train_data['Gender'].value_counts(dropna=False).sort_index()
gender.name = 'Gender'
print(gender)

Female    7424252
Male      6195253
Name: Gender, dtype: int64

In [30]:
# checking for null values in age column:

Age_counts = train_data['Age'].value_counts(dropna=False).sort_index()
Age_counts.name = 'Age'
print(Age_counts)

2       716
3      1534
4      2210
5      3004
6      3673
       ...
126       3
127       8
163       8
164       3
NaN       0
Name: Age, Length: 121, dtype: Int64

In [31]:
#Treating the null values using drop:
#age of customer cant be predicted, this information is must be given customer.

train_data.dropna(subset=['Age'], inplace=True)

In [32]:
Age_counts = train_data['Age'].value_counts(dropna=False).sort_index()
Age_counts

2       716
3      1534
4      2210
5      3004
6      3673
       ...
126       3
127       8
163       8
164       3
NaN       0
Name: Age, Length: 121, dtype: Int64

In [33]:
#check for null counts in Customer_index column:

Customer_index = train_data['Customer_index'].value_counts(dropna=False).sort_index()
Customer_index.name = 'Customer_index'
print(Customer_index)

0.0    12808310
1.0      811195
Name: Customer_index, dtype: int64

In [34]:
#check for null counts in primary_customer column:

primary_customer = train_data['primary_customer'].value_counts(dropna=False).sort_index()
primary_customer.name = 'primary_customer'
print(primary_customer)

1.0     13594712
99.0       24793
Name: primary_customer, dtype: int64

In [35]:
#check for null counts in Customer_type column:

Customer_type = train_data['Customer_type'].astype(str).value_counts(dropna=False).sort_index()
Customer_type.name = 'Customer_type'
print(Customer_type)

1       2195311
1.0    11295301
2           483
2.0         834
3          1137
3.0        3213
4            70
4.0         236
P           873
nan      122047
Name: Customer_type, dtype: int64

In [36]:
#Treating the null values using the drop function:
#Cruical information be provided by customer hence its can't be predicted.

train_data.dropna(subset=['Customer_type'], inplace=True)

In [37]:
#Renaming the columns content of Customer_type for better understanding and analysis:

train_data['Customer_type'] = train_data['Customer_type'].replace({ '1':'Primary Customer','2': 'Co-Owner', 
                                                                   '3': 'Former Primary Customer','4': 'Former Co-owner',
                                                                   'P': 'Potential' })

In [38]:
train_data['Customer_type'] = train_data['Customer_type'].replace({ 1.0:'Primary Customer', 2.0: 'Co-Owner',
                                                                   3.0: 'Former Primary Customer', 4.0: 'Former Co-owner' })

In [39]:
#checking the values after treating and renaming in Customer_type column:

Customer_type = train_data['Customer_type'].astype(str).value_counts(dropna=False).sort_index()
Customer_type.name = 'Customer_type'
print(Customer_type)

1.0                        4017737
2.0                            479
3.0                           1804
4.0                            143
Co-Owner                       838
Former Co-owner                163
Former Primary Customer       2546
Potential                      873
Primary Customer           9472875
Name: Customer_type, dtype: int64

In [40]:
#check for null counts in Customer_relation column:

Customer_relation = train_data['Customer_relation'].astype(str).value_counts(dropna=False).sort_index()
Customer_relation.name = 'Customer_relation'
print(Customer_relation)

A    6187065
I    7304864
N          4
P       4656
R        869
Name: Customer_relation, dtype: int64

In [41]:
#Renaming the columns content in Customer_relation:

train_data['Customer_relation'] = train_data['Customer_relation'].replace({ 'A':'Active', 'I': 'In-Active', 
                                   'P': 'Former Customer', 'R': 'Potential' ,'N': 'Unknown' })

In [42]:
#Checking for null values in Customer_relation column:

Customer_relation = train_data['Customer_relation'].astype(str).value_counts(dropna=False).sort_index()
Customer_relation.name = 'Customer_relation'
print(Customer_relation)

Active             6187065
Former Customer       4656
In-Active          7304864
Potential              869
Unknown                  4
Name: Customer_relation, dtype: int64

In [43]:
#Checking for null values in Residence_index column:

Residence_index = train_data['Residence_index'].value_counts(dropna=False).sort_index()
Residence_index.name = 'Residence_index'
print(Residence_index)

N       65838
S    13431620
Name: Residence_index, dtype: int64

In [44]:
#Renaming the columns content in Residence_index column:

train_data['Residence_index'] = train_data['Residence_index'].replace({ 'S':'Yes', 'N': 'No' })

In [45]:
Residence_index = train_data['Residence_index'].value_counts(dropna=False).sort_index()
Residence_index.name = 'Residence_index'
print(Residence_index)

No        65838
Yes    13431620
Name: Residence_index, dtype: int64

In [46]:
#Checking for null values in Foreigner_index column:

Foreigner_index  = train_data['Foreigner_index'].value_counts(dropna=False).sort_index()
Foreigner_index.name = 'Foreigner_index'
print(Foreigner_index)

N    12860783
S      636675
Name: Foreigner_index, dtype: int64

In [47]:
#Renaming the columns content in Foreigner_index:

train_data['Foreigner_index'] = train_data['Foreigner_index'].replace({ 'N': 'No' , 'S':'Yes' })

In [48]:
Foreigner_index  = train_data['Foreigner_index'].value_counts(dropna=False).sort_index()
Foreigner_index.name = 'Foreigner_index'
print(Foreigner_index)

No     12860783
Yes      636675
Name: Foreigner_index, dtype: int64

In [49]:
#Checking for null values in Spouse_index column:

Spouse_index  = train_data['Spouse_index'].value_counts(dropna=False).sort_index()
Spouse_index.name = 'Spouse_index'
print(Spouse_index)

N          1789
S            17
NaN    13495652
Name: Spouse_index, dtype: int64

In [50]:
#Treating the null values with Fillna function:

train_data['Spouse_index'] = train_data['Spouse_index'].fillna(0)

In [51]:
#Renaming the columns content Spouse_index column:

train_data['Spouse_index'] = train_data['Spouse_index'].replace({ 'N': 'No' , 'S':'Yes', 0: 'Not applicable' })

In [52]:
Spouse_index  = train_data['Spouse_index'].value_counts(dropna=False, sort= False)
Spouse_index.name = 'Spouse_index'
print(Spouse_index)

Not applicable    13495652
No                    1789
Yes                     17
Name: Spouse_index, dtype: int64

In [53]:
#Checking for null values in Channel column:

Channel  = train_data['Channel'].value_counts(dropna=False).sort_index()
Channel.name = 'Channel'
print(Channel)

004       210
007     29063
013     27094
025        11
K00       152
        ...
KHQ    591036
KHR         1
KHS         5
RED     75604
NaN     36416
Name: Channel, Length: 163, dtype: int64

In [54]:
#Treating the null values with dropna() in Channel:
#Channel data requires the accurate data hence data can't be imputed.

train_data.dropna(subset=['Channel'], inplace=True)

In [55]:
Channel  = train_data['Channel'].value_counts(dropna=False).sort_index()
Channel.name = 'Channel'
print(Channel)

004       210
007     29063
013     27094
025        11
K00       152
        ...
KHP       690
KHQ    591036
KHR         1
KHS         5
RED     75604
Name: Channel, Length: 162, dtype: int64

In [56]:
#Checking for null values in Deceased_index column:

Deceased_index  = train_data['Deceased_index'].value_counts(dropna=False).sort_index()
Deceased_index.name = 'Deceased_index'
print(Deceased_index)

N    13428393
S       32649
Name: Deceased_index, dtype: int64

In [57]:
#Renaming the columns content in Deceased_index:

train_data['Deceased_index'] = train_data['Deceased_index'].replace({ 'N': 'No' , 'S':'Yes' })

In [58]:
Deceased_index  = train_data['Deceased_index'].value_counts(dropna=False).sort_index()
Deceased_index.name = 'Deceased_index'
print(Deceased_index)

No     13428393
Yes       32649
Name: Deceased_index, dtype: int64

In [59]:
#Checking for null values in Primary_Address column:

Primary_Address  = train_data['Primary_Address'].value_counts(dropna=False).sort_index()
Primary_Address.name = 'Primary_Address'
print(Primary_Address)

1.0    13461042
Name: Primary_Address, dtype: int64

In [60]:
#Checking for null values in Customer_address column:

Customer_address  = train_data['Customer_address'].value_counts(dropna=False).sort_index()
Customer_address.name = 'Customer_address'
print(Customer_address)

1.0       37264
2.0      112563
3.0      308400
4.0       59418
5.0       38324
6.0      190897
7.0      122557
8.0     1259822
9.0       95951
10.0     128569
11.0     291505
12.0     102878
13.0     117905
14.0     142894
15.0     424087
16.0      56642
17.0      89293
18.0     176602
19.0      63720
20.0      70888
21.0     121255
22.0      39516
23.0      63512
24.0      81999
25.0      77878
26.0      84264
27.0      83936
28.0    4366697
29.0     363957
30.0     390582
31.0      87617
32.0      82986
33.0     262392
34.0      48725
35.0     232101
36.0     276014
37.0     162208
38.0      69992
39.0     153523
40.0      41881
41.0     599184
42.0      17260
43.0      97715
44.0      22213
45.0     180539
46.0     671660
47.0     235787
48.0     184501
49.0      50318
50.0     338538
51.0       7142
52.0       9351
NaN       65620
Name: Customer_address, dtype: int64

In [61]:
#Treating the null values in Customer_address with dropna function:
#This information is very cruical and should be given by customer and company, hence is dropped.

train_data.dropna(subset=['Customer_address'], inplace=True)

In [62]:
Customer_address  = train_data['Customer_address'].value_counts(dropna=False).sort_index()
Customer_address.name = 'Customer_address'
print(Customer_address)

1.0       37264
2.0      112563
3.0      308400
4.0       59418
5.0       38324
6.0      190897
7.0      122557
8.0     1259822
9.0       95951
10.0     128569
11.0     291505
12.0     102878
13.0     117905
14.0     142894
15.0     424087
16.0      56642
17.0      89293
18.0     176602
19.0      63720
20.0      70888
21.0     121255
22.0      39516
23.0      63512
24.0      81999
25.0      77878
26.0      84264
27.0      83936
28.0    4366697
29.0     363957
30.0     390582
31.0      87617
32.0      82986
33.0     262392
34.0      48725
35.0     232101
36.0     276014
37.0     162208
38.0      69992
39.0     153523
40.0      41881
41.0     599184
42.0      17260
43.0      97715
44.0      22213
45.0     180539
46.0     671660
47.0     235787
48.0     184501
49.0      50318
50.0     338538
51.0       7142
52.0       9351
Name: Customer_address, dtype: int64

In [63]:
#Checking for null values in province_name column: 

province_name  = train_data['province_name'].value_counts(dropna=False).sort_index()
province_name.name = 'province_name'
print(province_name)

ALAVA                       37264
ALBACETE                   112563
ALICANTE                   308400
ALMERIA                     59418
ASTURIAS                   262392
AVILA                       38324
BADAJOZ                    190897
BALEARS, ILLES             122557
BARCELONA                 1259822
BIZKAIA                    184501
BURGOS                      95951
CACERES                    128569
CADIZ                      291505
CANTABRIA                  153523
CASTELLON                  102878
CEUTA                        7142
CIUDAD REAL                117905
CORDOBA                    142894
CORUÑA, A                  424087
CUENCA                      56642
GIPUZKOA                    70888
GIRONA                      89293
GRANADA                    176602
GUADALAJARA                 63720
HUELVA                     121255
HUESCA                      39516
JAEN                        63512
LEON                        81999
LERIDA                      77878
LUGO                        83936
MADRID                    4366697
MALAGA                     363957
MELILLA                      9351
MURCIA                     390582
NAVARRA                     87617
OURENSE                     82986
PALENCIA                    48725
PALMAS, LAS                232101
PONTEVEDRA                 276014
RIOJA, LA                   84264
SALAMANCA                  162208
SANTA CRUZ DE TENERIFE      69992
SEGOVIA                     41881
SEVILLA                    599184
SORIA                       17260
TARRAGONA                   97715
TERUEL                      22213
TOLEDO                     180539
VALENCIA                   671660
VALLADOLID                 235787
ZAMORA                      50318
ZARAGOZA                   338538
Name: province_name, dtype: int64

In [64]:
#Checking for null values in Activity_index column:

Activity_index  = train_data['Activity_index'].value_counts(dropna=False).sort_index()
Activity_index.name = 'Activity_index'
print(Activity_index)

0.0    7241399
1.0    6154023
Name: Activity_index, dtype: int64

In [65]:
#Renaming the columns content in Activity_index column :

train_data['Activity_index'] = train_data['Activity_index'].replace({ 0.0: 'Active Customer' , 1.0:'Inactive Customer' })

In [66]:
Activity_index  = train_data['Activity_index'].value_counts(dropna=False).sort_index()
Activity_index.name = 'Activity_index'
print(Activity_index)

Active Customer      7241399
Inactive Customer    6154023
Name: Activity_index, dtype: int64

In [67]:
#Checking for null values in Gross_income

Gross_income  = train_data['Gross_income'].value_counts(dropna=False).sort_index()
Gross_income.name = 'Gross_income'
print(Gross_income)

1202.73             17
1471.23             17
2336.01             11
2539.80             17
3731.79              9
                ...
23720066.55         45
24253236.93         28
25547251.92         17
28894395.51         75
NaN            2597557
Name: Gross_income, Length: 519963, dtype: int64

In [68]:
#Treating the missing values in Gross_income column with Median method:

train_data['Gross_income'].median()

101859.42

In [69]:
income = train_data['Gross_income'].median()
train_data['Gross_income'].fillna(income, inplace=True)

In [70]:
Gross_income  = train_data['Gross_income'].value_counts(dropna=False).sort_index()
Gross_income.name = 'Gross_income'
print(Gross_income)

1202.73        17
1471.23        17
2336.01        11
2539.80        17
3731.79         9
               ..
22034738.76    96
23720066.55    45
24253236.93    28
25547251.92    17
28894395.51    75
Name: Gross_income, Length: 519962, dtype: int64

In [71]:
#Checking for null values in Segmentation column:

Segmentation  = train_data['Segmentation'].value_counts(dropna=False).sort_index()
Segmentation.name = 'Segmentation'
print(Segmentation)

01 - TOP               558385
02 - PARTICULARES     7902276
03 - UNIVERSITARIO    4930678
NaN                      4083
Name: Segmentation, dtype: int64

In [72]:
#Treating the missing values in Segmentation column using fillna() function:

train_data['Segmentation'] = train_data['Segmentation'].fillna(0)

In [73]:
#Renaming the columns content in Segmentation column:

train_data['Segmentation'] = train_data['Segmentation'].replace({ '01 - TOP': 'VIP', '02 - PARTICULARES': 'Individuals',
                                                                 '03 - UNIVERSITARIO': 'College graduated', 0: 'Unknown' })

In [74]:
Segmentation  = train_data['Segmentation'].value_counts(dropna=False).sort_index()
Segmentation.name = 'Segmentation'
print(Segmentation)

College graduated    4930678
Individuals          7902276
Unknown                 4083
VIP                   558385
Name: Segmentation, dtype: int64

In [75]:
#Checking for null values in Saving_account column:

Saving_account  = train_data['Saving_account'].value_counts(dropna=False).sort_index()
Saving_account.name = 'Saving_account'
print(Saving_account)

0    13394026
1        1396
Name: Saving_account, dtype: int64

In [77]:
#Checking for null values in Guarantees column:

Guarantees  = train_data['Guarantees'].value_counts(dropna=False).sort_index()
Guarantees.name = 'Guarantees'
print(Guarantees)

0    13395123
1         299
Name: Guarantees, dtype: int64

In [78]:
#Checking for null values in Current_accounts column:

Current_accounts  = train_data['Current_accounts'].value_counts(dropna=False).sort_index()
Current_accounts.name = 'Current_accounts'
print(Current_accounts)

0    4583360
1    8812062
Name: Current_accounts, dtype: int64

In [79]:
#Checking for null values in Derivative_account column:

Derivative_account  = train_data['Derivative_account'].value_counts(dropna=False).sort_index()
Derivative_account.name = 'Derivative_account'
print(Derivative_account)

0    13390069
1        5353
Name: Derivative_account, dtype: int64

In [80]:
#Checking for null values in Payroll_account column:

Payroll_account  = train_data['Payroll_account'].value_counts(dropna=False).sort_index()
Payroll_account.name = 'Payroll_account'
print(Payroll_account)

0    12294169
1     1101253
Name: Payroll_account, dtype: int64

In [81]:
#Checking for null values in Junior_account column:

Junior_account  = train_data['Junior_account'].value_counts(dropna=False).sort_index()
Junior_account.name = 'Junior_account'
print(Junior_account)

0    13266868
1      128554
Name: Junior_account, dtype: int64

In [82]:
#Checking for null values in More_private_account column:

More_private_account  = train_data['More_private_account'].value_counts(dropna=False).sort_index()
More_private_account.name = 'More_private_account'
print(More_private_account)

0    13265634
1      129788
Name: More_private_account, dtype: int64

In [83]:
#Checking for null values in Private_account column:

Private_account  = train_data['Private_account'].value_counts(dropna=False).sort_index()
Private_account.name = 'Private_account'
print(Private_account)

0    11650998
1     1744424
Name: Private_account, dtype: int64

In [84]:
#Checking for null values in Private_plus_account column:

Private_plus_account  = train_data['Private_plus_account'].value_counts(dropna=False).sort_index()
Private_plus_account.name = 'Private_plus_account'
print(Private_plus_account)

0    12806859
1      588563
Name: Private_plus_account, dtype: int64

In [85]:
#Checking for null values in Short_term_deposits column:

Short_term_deposits  = train_data['Short_term_deposits'].value_counts(dropna=False).sort_index()
Short_term_deposits.name = 'Short_term_deposits'
print(Short_term_deposits)

0    13372376
1       23046
Name: Short_term_deposits, dtype: int64

In [86]:
#Checking for null values in Medium_term_deposits column:

Medium_term_deposits  = train_data['Medium_term_deposits'].value_counts(dropna=False).sort_index()
Medium_term_deposits.name = 'Medium_term_deposits'
print(Medium_term_deposits)

0    13373098
1       22324
Name: Medium_term_deposits, dtype: int64

In [87]:
#Checking for null values in Long_term_deposits column:

Long_term_deposits  = train_data['Long_term_deposits'].value_counts(dropna=False).sort_index()
Long_term_deposits.name = 'Long_term_deposits'
print(Long_term_deposits)

0    12812068
1      583354
Name: Long_term_deposits, dtype: int64

In [88]:
#Checking for null values in E_Account column:

E_Account  = train_data['E_Account'].value_counts(dropna=False).sort_index()
E_Account.name = 'E_Account'
print(E_Account)

0    12271699
1     1123723
Name: E_Account, dtype: int64

In [89]:
#Checking for null values in Funds column:

Funds  = train_data['Funds'].value_counts(dropna=False).sort_index()
Funds.name = 'Funds'
print(Funds)

0    13145504
1      249918
Name: Funds, dtype: int64

In [90]:
#Checking for null values in Mortgage column:

Mortgage = train_data['Mortgage'].value_counts(dropna=False).sort_index()
Mortgage.name = 'Mortgage'
print(Mortgage)

0    13315461
1       79961
Name: Mortgage, dtype: int64

In [91]:
#Checking for null values in Pensions column:

Pensions = train_data['Pensions'].value_counts(dropna=False).sort_index()
Pensions.name = 'Pensions'
print(Pensions)

0    13271090
1      124332
Name: Pensions, dtype: int64

In [92]:
#Checking for null values in Loans column:

Loans  = train_data['Loans'].value_counts(dropna=False).sort_index()
Loans.name = 'Loans'
print(Loans)

0    13360967
1       34455
Name: Loans, dtype: int64

In [93]:
#Checking for null values in Taxes column:

Taxes  = train_data['Taxes'].value_counts(dropna=False).sort_index()
Taxes.name = 'Taxes'
print(Taxes)

0    12690603
1      704819
Name: Taxes, dtype: int64

In [94]:
#Checking for null values in Credit_card column:

Credit_card  = train_data['Credit_card'].value_counts(dropna=False).sort_index()
Credit_card.name = 'Credit_card'
print(Credit_card)

0    12792169
1      603253
Name: Credit_card, dtype: int64

In [95]:
#Checking for null values in Securities column:

Securities  = train_data['Securities'].value_counts(dropna=False).sort_index()
Securities.name = 'Securities'
print(Securities)

0    13050613
1      344809
Name: Securities, dtype: int64

In [96]:
#Checking for null values in Home_account column:

Home_account  = train_data['Home_account'].value_counts(dropna=False).sort_index()
Home_account.name = 'Home_account'
print(Home_account)

0    13343006
1       52416
Name: Home_account, dtype: int64

In [97]:
#Checking for null values in Payroll column:

Payroll  = train_data['Payroll'].value_counts(dropna=False).sort_index()
Payroll.name = 'Payroll'
print(Payroll)

0.0    12650447
1.0      744823
NaN         152
Name: Payroll, dtype: int64

In [98]:
#Treating the missing values using Median method:

payrolls = train_data['Payroll'].median()
train_data['Payroll'].fillna(payrolls, inplace=True)

In [99]:
Payroll  = train_data['Payroll'].value_counts(dropna=False).sort_index()
Payroll.name = 'Payroll'
print(Payroll)

0.0    12650599
1.0      744823
Name: Payroll, dtype: int64

In [100]:
#Checking for null values in Pensions_2 column:

Pensions_2  = train_data['Pensions_2'].value_counts(dropna=False).sort_index()
Pensions_2.name = 'Pensions_2'
print(Pensions_2)

0.0    12586512
1.0      808758
NaN         152
Name: Pensions_2, dtype: int64

In [101]:
#Treating the missing values using Median method:

pensions = train_data['Pensions_2'].median()
train_data['Pensions_2'].fillna(pensions, inplace=True)

In [102]:
Pensions_2  = train_data['Pensions_2'].value_counts(dropna=False).sort_index()
Pensions_2.name = 'Pensions_2'
print(Pensions_2)

0.0    12586664
1.0      808758
Name: Pensions_2, dtype: int64

In [103]:
#Checking for null values in Direct_debit:

Direct_debit  = train_data['Direct_debit'].value_counts(dropna=False).sort_index()
Direct_debit.name = 'Direct_debit'
print(Direct_debit)

0    11656204
1     1739218
Name: Direct_debit, dtype: int64

In [104]:
#Checking the for null values after treating:

train_data.isnull().sum()

Date                    0
Customer_code           0
Employee_index          0
Country                 0
Gender                  0
Age                     0
Customer_join_date      0
Customer_index          0
Customer_seniority      0
primary_customer        0
Customer_leave_date     0
Customer_type           0
Customer_relation       0
Residence_index         0
Foreigner_index         0
Spouse_index            0
Channel                 0
Deceased_index          0
Primary_Address         0
Customer_address        0
province_name           0
Activity_index          0
Gross_income            0
Segmentation            0
Saving_account          0
Guarantees              0
Current_accounts        0
Derivative_account      0
Payroll_account         0
Junior_account          0
More_private_account    0
Private_account         0
Private_plus_account    0
Short_term_deposits     0
Medium_term_deposits    0
Long_term_deposits      0
E_Account               0
Funds                   0
Mortgage                0
Pensions                0
Loans                   0
Taxes                   0
Credit_card             0
Securities              0
Home_account            0
Payroll                 0
Pensions_2              0
Direct_debit            0
dtype: int64

##### missing values are treated properly.

In [105]:
#Changing the datatype to reduce the memory usage:


train_data['Age'] = train_data['Age'].astype('int8')
train_data['Saving_account'] = train_data['Saving_account'].astype('int8')
train_data['Guarantees'] = train_data['Guarantees'].astype('int8')
train_data['Current_accounts'] = train_data['Current_accounts'].astype('int8')
train_data['Derivative_account'] = train_data['Derivative_account'].astype('int8')
train_data['Payroll_account'] = train_data['Payroll_account'].astype('int8')
train_data['Junior_account'] = train_data['Junior_account'].astype('int8')
train_data['More_private_account'] = train_data['More_private_account'].astype('int8')
train_data['Private_account'] = train_data['Private_account'].astype('int8')
train_data['Private_plus_account'] = train_data['Private_plus_account'].astype('int8')
train_data['Short_term_deposits'] = train_data['Short_term_deposits'].astype('int8')
train_data['Medium_term_deposits'] = train_data['Medium_term_deposits'].astype('int8')
train_data['Long_term_deposits'] = train_data['Long_term_deposits'].astype('int8')
train_data['E_Account'] = train_data['E_Account'].astype('int8')
train_data['Funds'] = train_data['Funds'].astype('int8')
train_data['Mortgage'] = train_data['Mortgage'].astype('int8')
train_data['Pensions'] = train_data['Pensions'].astype('int8')
train_data['Loans'] = train_data['Loans'].astype('int8')
train_data['Taxes'] = train_data['Taxes'].astype('int8')
train_data['Credit_card'] = train_data['Credit_card'].astype('int8')
train_data['Securities'] = train_data['Securities'].astype('int8')
train_data['Home_account'] = train_data['Home_account'].astype('int8')
train_data['Payroll'] = train_data['Payroll'].astype('int8')
train_data['Pensions_2'] = train_data['Pensions_2'].astype('int8')
train_data['Direct_debit'] = train_data['Direct_debit'].astype('int8')

In [106]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13395422 entries, 0 to 13647307
Data columns (total 48 columns):
 #   Column                Dtype
---  ------                -----
 0   Date                  datetime64[ns]
 1   Customer_code         int64
 2   Employee_index        object
 3   Country               category
 4   Gender                object
 5   Age                   int8
 6   Customer_join_date    datetime64[ns]
 7   Customer_index        float64
 8   Customer_seniority    object
 9   primary_customer      float64
 10  Customer_leave_date   datetime64[ns]
 11  Customer_type         object
 12  Customer_relation     object
 13  Residence_index       object
 14  Foreigner_index       object
 15  Spouse_index          object
 16  Channel               object
 17  Deceased_index        object
 18  Primary_Address       float64
 19  Customer_address      float64
 20  province_name         object
 21  Activity_index        object
 22  Gross_income          float64
 23  Segmentation          object
 24  Saving_account        int8
 25  Guarantees            int8
 26  Current_accounts      int8
 27  Derivative_account    int8
 28  Payroll_account       int8
 29  Junior_account        int8
 30  More_private_account  int8
 31  Private_account       int8
 32  Private_plus_account  int8
 33  Short_term_deposits   int8
 34  Medium_term_deposits  int8
 35  Long_term_deposits    int8
 36  E_Account             int8
 37  Funds                 int8
 38  Mortgage              int8
 39  Pensions              int8
 40  Loans                 int8
 41  Taxes                 int8
 42  Credit_card           int8
 43  Securities            int8
 44  Home_account          int8
 45  Payroll               int8
 46  Pensions_2            int8
 47  Direct_debit          int8
dtypes: category(1), datetime64[ns](3), float64(5), int64(1), int8(25), object(13)
memory usage: 2.6+ GB

### Detecting the Outliers:

In [107]:
#Detecting the outliers in Age column Using Standard deviation:

age = train_data['Age']
mean = np.mean(age)
std_dev = np.std(age)

lc = mean -2.5*std_dev
uc = mean + 2.5*std_dev

threshold = 3 * std_dev

outliers = age[(age <  mean - threshold) | (age >  mean + threshold)]

print('Number of outliers:', len(outliers))
print('Outliers:', outliers)

Number of outliers: 79635
Outliers: 1917        95
1924        96
3680        96
4370        95
5063        92
            ..
13617882    92
13624157    95
13625254    97
13632124    93
13637159    96
Name: Age, Length: 79635, dtype: int8

In [108]:
#treating the outliers using .Clip() function:

age = np.clip(age, lc, uc)
age

0           35.0
1           23.0
2           23.0
3           22.0
4           23.0
            ...
13647303    25.0
13647304    22.0
13647305    23.0
13647306    47.0
13647307    22.0
Name: Age, Length: 13395422, dtype: float64

In [109]:
#Detecting the outliers in Customer_index using Standard Deviation:

cust_index = train_data['Customer_index']
mean = np.mean(cust_index)
std_dev = np.std(cust_index)

lc = mean -2.5*std_dev
uc = mean + 2.5*std_dev

threshold = 3 * std_dev

outliers = cust_index[(cust_index <  mean - threshold) | (cust_index >  mean + threshold)]
print('Number of outliers:', len(outliers))
print('Outliers:', outliers)

Number of outliers: 674859
Outliers: 5883        1.0
6579        1.0
6632        1.0
6717        1.0
20792       1.0
           ...
13640204    1.0
13642971    1.0
13645001    1.0
13646506    1.0
13647065    1.0
Name: Customer_index, Length: 674859, dtype: float64

In [110]:
#treating the outliers using .Clip() function:

cust_index = np.clip(cust_index, lc, uc)
cust_index

0           0.0
1           0.0
2           0.0
3           0.0
4           0.0
           ...
13647303    0.0
13647304    0.0
13647305    0.0
13647306    0.0
13647307    0.0
Name: Customer_index, Length: 13395422, dtype: float64

In [111]:
#Detecting the outliers in primary_customer  using Standard Deviation:

primary_cust = train_data['primary_customer']

mean = np.mean(primary_cust)
std_dev = np.std(primary_cust)


lc = mean -2.5*std_dev
uc = mean + 2.5*std_dev

threshold = 3 * std_dev

outliers = primary_cust[(primary_cust < mean - threshold) | (primary_cust > mean + threshold)]

print('Number of outliers:', len(outliers))
print('Outliers:', outliers)

Number of outliers: 19549
Outliers: 509         99.0
2061        99.0
2624        99.0
4306        99.0
5451        99.0
            ...
13642560    99.0
13642579    99.0
13645001    99.0
13646037    99.0
13646286    99.0
Name: primary_customer, Length: 19549, dtype: float64

In [112]:
#treating the outliers using .Clip() function:

primary_cust = np.clip(primary_cust, lc, uc)
primary_cust

0           1.0
1           1.0
2           1.0
3           1.0
4           1.0
           ...
13647303    1.0
13647304    1.0
13647305    1.0
13647306    1.0
13647307    1.0
Name: primary_customer, Length: 13395422, dtype: float64

In [113]:
#Detecting the outliers in Primary_Address using Standard Deviation:

primary_address = train_data['Primary_Address']

mean = np.mean(primary_address)
std_dev = np.std(primary_address)


lc = mean -2.5*std_dev
uc = mean + 2.5*std_dev

threshold = 3 * std_dev

outliers = primary_address[(primary_address < mean - threshold) | (primary_address > mean + threshold)]

print('Number of outliers:', len(outliers))
print('Outliers:', outliers)

Number of outliers: 0
Outliers: Series([], Name: Primary_Address, dtype: float64)

In [114]:
#Detecting the outliers in Customer_address using Standard Deviation:

customer_address = train_data['Customer_address']

mean = np.mean(customer_address)
std_dev = np.std(customer_address)


lc = mean -2.5*std_dev
uc = mean + 2.5*std_dev

threshold = 3 * std_dev

outliers = customer_address[(customer_address < mean - threshold) | (customer_address > mean + threshold)]

print('Number of outliers:', len(outliers))
print('Outliers:', outliers)

Number of outliers: 0
Outliers: Series([], Name: Customer_address, dtype: float64)

In [115]:
#Detecting the outliers Gross_income using Standard Deviation:

gross_income = train_data['Gross_income']

mean = np.mean(gross_income)
std_dev = np.std(gross_income)


lc = mean -2.5*std_dev
uc = mean + 2.5*std_dev

threshold = 3 * std_dev

outliers = gross_income[(gross_income < mean - threshold) | (gross_income > mean + threshold)]

print('Number of outliers:', len(outliers))
print('Outliers:', outliers)

Number of outliers: 53112
Outliers: 467          926880.45
822          878790.72
1087         763791.45
1151        1415413.26
1742         838152.54
               ...
13645403     905191.44
13645545    1439452.71
13646301     773996.79
13646362    2425069.44
13646694     808925.40
Name: Gross_income, Length: 53112, dtype: float64

In [116]:
#treating the outliers using .Clip() function:

gross_income = np.clip(gross_income, lc, uc)
gross_income

0            87218.10
1            35548.74
2           122179.11
3           119775.54
4           101859.42
              ...
13647303     50945.25
13647304     43912.17
13647305     23334.99
13647306    101859.42
13647307    199592.82
Name: Gross_income, Length: 13395422, dtype: float64

In [117]:
#Detecting the outliers Payroll using Standard Deviation:

payroll = train_data['Payroll']

mean = np.mean(payroll)
std_dev = np.std(payroll)

lc = mean -2.5*std_dev
uc = mean + 2.5*std_dev

threshold = 3 * std_dev

outliers = payroll[(payroll < mean - threshold) | (payroll > mean + threshold)]

print('Number of outliers:', len(outliers))
print('Outliers:', outliers)

Number of outliers: 744823
Outliers: 72          1
121         1
141         1
187         1
223         1
           ..
13647071    1
13647072    1
13647104    1
13647138    1
13647257    1
Name: Payroll, Length: 744823, dtype: int8

In [118]:
#treating the outliers using .Clip() function:

payroll = np.clip(payroll, lc, uc)
payroll

0           0.0
1           0.0
2           0.0
3           0.0
4           0.0
           ...
13647303    0.0
13647304    0.0
13647305    0.0
13647306    0.0
13647307    0.0
Name: Payroll, Length: 13395422, dtype: float64

In [119]:
#Detecting the outliers Pensions_2 using Standard Deviation:

pensions_2 = train_data['Pensions_2']

mean = np.mean(pensions_2)
std_dev = np.std(pensions_2)

lc = mean -2.5*std_dev
uc = mean + 2.5*std_dev

threshold = 3 * std_dev

outliers = pensions_2[(pensions_2 < mean - threshold) | (pensions_2 > mean + threshold)]

print('Number of outliers:', len(outliers))
print('Outliers:', outliers)

Number of outliers: 808758
Outliers: 72          1
121         1
141         1
187         1
223         1
           ..
13647071    1
13647072    1
13647104    1
13647138    1
13647257    1
Name: Pensions_2, Length: 808758, dtype: int8

In [120]:
#treating the outliers Pensions_2 using .Clip() function:

pensions_2 = np.clip(pensions_2, lc, uc)
pensions_2

0           0.0
1           0.0
2           0.0
3           0.0
4           0.0
           ...
13647303    0.0
13647304    0.0
13647305    0.0
13647306    0.0
13647307    0.0
Name: Pensions_2, Length: 13395422, dtype: float64

In [121]:
##Detecting the outliers Direct_debit using Standard Deviation:

direct_debit = train_data['Direct_debit']

mean = np.mean(direct_debit)
std_dev = np.std(direct_debit)

lc = mean -2.5*std_dev
uc = mean + 2.5*std_dev

threshold = 3 * std_dev

outliers = direct_debit[(direct_debit < mean - threshold) | (direct_debit > mean + threshold)]

print('Number of outliers:', len(outliers))
print('Outliers:', outliers)

Number of outliers: 0
Outliers: Series([], Name: Direct_debit, dtype: int8)

In [122]:
#cleaned data

data = train_data
data

,Date,Customer_code,Employee_index,Country,Gender,Age,Customer_join_date,Customer_index,Customer_seniority,primary_customer,...,Mortgage,Pensions,Loans,Taxes,Credit_card,Securities,Home_account,Payroll,Pensions_2,Direct_debit
0,2015-01-28,1375586,Not An Employee,ES,Male,35,2015-01-12,0.0,6,1.0,...,0,0,0,0,0,0,0,0,0,0
1,2015-01-28,1050611,Not An Employee,ES,Female,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
2,2015-01-28,1050612,Not An Employee,ES,Female,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
3,2015-01-28,1050613,Not An Employee,ES,Male,22,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
4,2015-01-28,1050614,Not An Employee,ES,Female,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13647303,2016-05-28,1166766,Not An Employee,ES,Female,25,2013-08-14,0.0,33,1.0,...,0,0,0,0,0,0,0,0,0,0
13647304,2016-05-28,1166765,Not An Employee,ES,Female,22,2013-08-14,0.0,33,1.0,...,0,0,0,0,0,0,0,0,0,0
13647305,2016-05-28,1166764,Not An Employee,ES,Female,23,2013-08-14,0.0,33,1.0,...,0,0,0,0,0,0,0,0,0,0
13647306,2016-05-28,1166763,Not An Employee,ES,Male,47,2013-08-14,0.0,33,1.0,...,0,0,0,0,0,0,0,0,0,0
13647307,2016-05-28,1166789,Not An Employee,ES,Male,22,2013-08-14,0.0,33,1.0,...,0,0,0,0,0,0,0,0,0,0